<template>
  <svg viewBox="0 0 18 18" class="fill-current" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.8 13.443c-.076.002-.151.003-.227.003-5.533 0-10.019-4.486-10.019-10.02l.003-.225A7.287 7.287 0 1014.8 13.444zm1.109-1.927A8.198 8.198 0 017.124 0 9.107 9.107 0 000 8.892a9.108 9.108 0 0018 1.984 8.138 8.138 0 01-2.091.64z" />
  </svg>
</template>
